* {
	box-sizing: border-box;
}

body {
	font-family: 'Draft B', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1170px;
	width: 100%;
	padding: 0 0;
	margin: 0 auto;
}

header {
	height: 65px;
	width: 100%;
	background-color: #71768a;
	position: fixed;
	z-index: 10;
}

.header-1 {
	float: left;
}

.header-1 a {
	line-height: 60px;
  	padding: 0 25px;
 	color: #fff;
 	display: block;
  	float: left;
  	transition: all 0.5s;
}

.header-1 a:hover {
	color: #ffdc7f;
	font-weight: bold;
	font-style: italic;
}

.header-2 {
	float: right;
	padding-top: 10px;
	margin-right: -25px;
}

.btn {
	line-height: 45px;
	padding: 0 20px;
	color: #191f2f;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
}

.btn:hover {
	opacity: 0.8;
}

.login {
	background-color: #ffdc7f;
	margin-right: 10px;
}

.signup {
	background-color: #fff;
}

.white-09 img {
    width: 60px;
    float: left;
    display: none;
}

.topcontent {
	text-align: center;
	background-color: #ccc2c0;
	float: left;
	width: 100%;
}

.topcontent img {
	width: 50%;
	float: left;
}

.explore {
	color: #191f2f;
	width: 50%;
	float: left;
	margin-top: 18%;
}

.explore h3 {
	line-height: 10px;
}

.bt {
	font-weight: normal;
	color: #fff;
	padding: 10px 30px;
	border-radius: 5px;
}

.bt:hover {
	opacity: 0.8;
}

.exp {
	background-color: #191f2f;
	display: inline-block;
	margin-top: 25px;
}

.prodcontent {
	text-align: center;
}	

.dream {
	width: 60%;
	margin-top: 30px;
}	

.prodcontent h3 {
	color: #191f2f;
	line-height: 3px;
	margin-bottom: 30px;
}

.prod {
	float: left;
	width: 33.33%; 
}

.vol {
	position: relative;
	padding: 5px 5px;
}

.vol p {
	color: #191f2f;
}

.vol img {
	width: 100%;
}

.detail {
	background-color: #191f2f;
	display: inline-block;
	margin-bottom: 50px;
}

.bottomcontent {
	text-align: center;
	background-color: #ccc2c0;
	width: 100%;
	float: left;
}

.formfill {
	width: 50%;
	padding-top: 9%;
	float: left;
	text-align: left;
}

.formfill input, textarea {
	width: 50%;
	margin-left: 15%;
	padding: 15px;
	border: 1px solid #191f2f;	
	border-radius: 10px;
}

.formfill h3 {
	color: #191f2f;
	margin-bottom: 30px;
	margin-left: 15%;
	line-height: 8px;
}

.formfill p {
	line-height: 6px;
	color: #191f2f;
	margin-left: 15%;
}

.form {
	margin-left: 15%;
	background-color: #191f2f;
	color: #fff;
	display: inline-block;
}

.bottomcontent img {
	width: 50%;
	float: left;
}

footer {
	width: 100%;
    background-color: #71768a;
    color: #f7f7f7;
	display: inline-block;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.left-side, .center-side, .right-side {
    flex: auto;
    margin-top: 35px;
    margin-bottom: 15px;
}

.left-side {
    text-align: center;
}

.center-side {
    flex: auto;
    margin-left: 30px;
}

.center-side ul {
    margin-top: 0px;
}

.center-side li {
    list-style: none;
}

.center-side a {
    text-decoration: none;
    color: #f7f7f7;
}

.right-side {
    flex: auto;
    margin-left: 100px;
}

.right-side input {
    background-color: rgba(255, 220, 127, 0.8);
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 5px;
    color: #f7f7f7;
    padding-left: 10px; 
}

.right-side p {
	font-size: 12px;
	color: #fff;
	margin-top: 25px;
}

.center-side h3, .right-side h3 {
    color: #ffdc7f;
    margin-top: 0px;
    margin-bottom: 5px;
}

.social-media {
    margin-top: 15px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
    background-color: rgba(255, 220, 127, 0.8);
    color: #191f2f;
}
  
.fa:hover {
    background-color: #ffdc7f;
}

.fa-paper-plane {
    background-color: #71768a;
    color: #ffdc7f;
    padding: 0px;
    margin: 0px;
	display: inline-block;
}

.fa-paper-plane:hover {
    background-color: #71768a;
    opacity: 0.8;
}
